/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	color: #000;
    background: #ddd;
    text-shadow: none;
}

::selection {
	color: #000;
    background: #ddd;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,html {
	font-family:"Apercu Regular", Calibri, sans-serif; 
	font-size-adjust:0.508; 
	font-weight:normal; 
	font-style:normal; 
}



/* fontdeck prevent flash of unstyled text (FOUT) */
.wf-loading body {
    visibility: hidden;
}

h1,h2,h3,h4,h5,h6,strong,cite {
    font-style: normal;
    font-weight: normal;
}


/* General */


a {
	color: #000;
	text-decoration: none;
}




h2 {
	font-weight: normal;
	font-family:"Apercu Bold", Calibri, sans-serif; 
}

strong, b {
	font-weight: normal;
	font-family:"Apercu Bold", Calibri, sans-serif; 
	
}

.sel {
	border-bottom: 1px solid;
}

/* Grid */

.container { 
	margin: 0 auto; 
	overflow:hidden; 
	width:90%;
} 

.g1,.g2,.g3,.g4 { 
	float:left; 
	margin:0 2% 2% 0; 
	overflow:hidden; 
/* 	background-color: fuchsia; */
}

.items div:last-child, .last { 
	margin-right:0;
}

.g1 { width:15%; }
.g2 { width:32%; }
.g3 { width:49%; }
.g6 { margin-bottom:0; width:100%; }


			
			
/* header */

header {
	position: fixed;
	width: 100%;
	height: 25px;
	margin: 0;
	padding: 35px 0 45px 0;
	background-color: #fff;
	z-index: 1000;
}

header .fixed {
/* 	padding: 0 5%; */
}

header h1 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

header ul {
	margin: 0;
	padding: 8px 0px;
}

header li {
	display: inline-block;
	padding: 0;
	padding-right: 15px;
}

nav {
	font-size: 14px;
	font-family:"Apercu Bold", Calibri, sans-serif; 
}

nav .more {
	font-family:"Apercu Regular", Calibri, sans-serif; 
	
}



/* footer */

footer {
	width: 100%;
	clear: both;
}

footer h3 {
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	font-family:"Apercu Bold", Calibri, sans-serif; 
}

footer p {
	margin-top: 0;
	padding-top: 0;
	font-size: 16px;
	line-height: 20px;
}

/* cnt */

#cnt {
	margin-top: 120px;
}


.bottom-link {
	font-size: 16px;	
	font-family:"Apercu Bold", Calibri, sans-serif; 
	display: block;
	margin: 10px 0 40px 0;
}

/* intro */

.intro p {
	font-size: 28px;
	line-height: 36px;
}



/* wrk */

.filters {
	clear: both;
	height: 30px;
	margin-top: 20px;
}

.filters.fixed {
	position: fixed;
	background-color: #fff;
	z-index: 1000;
	padding-top: 30px;
	margin: -30px 0 0 0;
}

.filters ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filters li {
	float: left;
	padding-right: 20px;
	
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	font-family:"Apercu Bold", Calibri, sans-serif; 
}


.filters li:hover {
	cursor: pointer;
}

.items {
	padding-right: 10px;
/* 	padding-top: 100px; */
}
.item.wrk {
/* 	height: 217px; */

	float: left;
	overflow: hidden;

display: inline-block;
position: relative;
}

.item.wrk .overlay {
	display: none;
	color: #fff;
	top: 0;
	
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	font-size: 14px;
	line-height: 18px;

}

.item.wrk .overlay h1 {
	margin: 40px 0 0 0;
	position: absolute;
	font-size: 14px;
	line-height: 18px;
	font-family:"Apercu Bold", Calibri, sans-serif; 
	text-align: center;
	width: 100%;
}

.item.wrk .overlay p {
	margin: 60px 10% 20px 10%;
	position: absolute;
	z-index: 600;
	font-size: 14px;
	line-height: 18px;	
	width: 80%;
	text-align: center;
}

.item.wrk .bg {
	position: absolute;
	top: 0;
	left: 0;
/* 	background-color: #ff8971; */
	width: 100%;
	height: 100%;
	
	
}

.item.wrk img {
	width: 100%;
	height: auto;
}

.small-image {
	overflow: hidden;
}

.small-image img {
	height: auto;
	width: 100%;
}

/* slideshow */

.cycle-slideshow  {
	width: auto; 
	overflow: hidden;
	/* for project-view */
	clear: both;
}

.cycle-slideshow img, .cycle-slideshow .img {
	/* prevent flash of unstyles content */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;

	width: 100%;
	height: auto;
}


.cycle-prev, .cycle-next {
position: absolute;
top: 0;
padding: 30% 40px 30% 40px;
width: 50%;
height: 30px;
z-index: 800;
height: 100%;
cursor: url('../img/larr.png'), pointer;
font-size: 30px;
display: block;
opacity: 0;
}

.cycle-next {
right: 0;
text-align: right;
cursor: url('../img/rarr.png'), pointer;
}

.cycle-prev:hover, .cycle-next:hover {
	opacity: 1;
}



/* overlay */



.g6.overlay {
	display: none;
	position: fixed;
	background-color: #ff8971;
	width: 100%;
	height: 1630px;
	z-index: 700;	
	left: 0;
	top:150px;
	
}

.wrp {
	width: 90%;
	margin: 0 auto;
}

.g6.overlay .wrp p {
	width: 200px;
	margin: 20px 0;
}


.g6.overlay .wrp ul {
	margin: 20px 0;
	padding: 0;
	width: 320px;
}

.g6.overlay li {
	list-style: none;
	font-size: 16px;
	line-height: 28px;
	margin: 0;
	padding: 0;
}

.tags ul {
	padding-left: 0 !important;
}
.opdrachtgevers p {
	padding-left: 54px !important;
}
.testimonials p {
	padding-left: 176px !important;
}


.prj .overlay {	
	position: absolute;
	top: auto;
	margin-top: auto;
	bottom: auto;
	margin-bottom: 0;
}

.prj .overlay p {
	margin: 20px 5%;
}


.prj .opdracht p {
	padding-left: 0;
}
.prj .oplossing p {
	padding-left: 85px;
}
.prj .colofon p {
	padding-left: 166px;
}

/* cycle-overlay */
.cycle-overlay { 
	display: none !important;
	position: absolute;
	top: 0;
	z-index: 600;
/* 	opacity: 0.5; */
	color: #fff;
	text-align: center;

	font-size: 28px;
	line-height: 36px;
	font-weight: normal;
	
	width: 100%;
	height: 100%;

}
.cycle-slideshow:hover {
	display: block !important;
}


.cycle-overlay.custom .bg {
	top: 0;
	left: 0;
/* 	background-color: #ff8971; */
	width: 100%;
	height: 100%;
	z-index: 500;
}

.cycle-overlay.custom h1 {
	position: absolute;
	top: 0;
	left: 0;
	padding:50px 5%;
	font-size: 28px;
	width: 90%;
	font-family:"Apercu Bold", Calibri, sans-serif; 
	text-align: center;
}

.cycle-overlay.custom p {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	
	padding: 100px 5% 50px 5%;
	text-align: center;
}	
/* Studio */


.team-images img, .team-images p, #publicity img, #publicity p {
	width: 47%;
	margin: 0 0 20px 0;
	vertical-align: top;
	height: auto;
	display: inline;
	float: left;
}

.team-images img {
	margin-top: 50px;
}


.team-images p:last-child, #publicity img:last-child, #publicity p:nth-child(even) {
	margin-left: 6%;
}


.team-images img:first-child, #publicity img:first-child {
	margin-right: 6%;
	margin-left: 0 !important;
}

#publicity p:last-child {
	width: 100%;
	clear: both;
	margin-left: 0 !important;
}


hr {
	width: 100%;
	border-top: 1px solid #000;
	clear: both;
}

.std div {
	margin-top: 20px;
	margin-bottom: 40px;
}
.std h1 {
	font-family:"Apercu Regular", Calibri, sans-serif; 
	font-weight: normal;
	font-size: 28px;
	line-height: 36px;
}
h2 {
	font-size: 16px;
	font-weight: normal;
}

.std #services .cls {
	columns: 2;
	-webkit-columns: 2; /* Safari and Chrome */
	-moz-columns: 2; /* Firefox */
	
	height: 280px;
}

#services ul {
	margin: 0.5em 0;
	padding: 0;
	display: inline-block;
	width: 100%;
}
#services li {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Contact */

#map-canvas {
	height: 665px;
}

.ctt .cycle-slideshow {
	margin-top: 50px;
	width: 49%;
	clear: none;
}

.ctt .cls {
	columns: 2;
	-webkit-columns: 2; /* Safari and Chrome */
	-moz-columns: 2; /* Firefox */
	

}

/* More */


.mre article {
	margin-bottom: 40px;

}

.mre hr {
	margin-top: 20px;
}
.mre img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.mre h1 {
	margin-top: 0;
}

.mre .dat, .mre .social {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family:"Apercu Bold", Calibri, sans-serif; 
}

iframe.ytb {
	width: 100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1000px) {

    .container, header, .wrp {
	    width: 1000px;
    }
    
    .ctt .cls {
	    height: 134px;
    }
}

@media only screen and (max-width: 480px) {

    .container, header {
	    width: 90%;
    }
    
    .g1,.g2,.g3,.g4,.g5,.g6 {
	    width: 100%;
	    margin-left: 0;
	    margin-right: 0;
	    padding: 0;
	    
    }
    
    .items {
	    padding-right: 0;
    }
    
    .tags ul,.opdrachtgevers p,.testimonials p {
	    padding-left: 0 !important;
    }
    
    
    
    
    .intro p {
	    font-size: 18px;
	    line-height: 28px;
    }
    
    
    .cycle-overlay.custom h1 {
	    font-size: 18px;
	    line-height: 28px;
	    padding-top: 10px
    }
    .cycle-overlay.custom p {
	    font-size: 14px;
	    line-height: 18px;
	    padding-top: 40px;
    }
    
    
    .prj .g3 h1, .prj .g3 h2 {
	    margin: 0;
	    padding: 0;
    }
    
    .prj .g3 {
	    margin: 0;
	    padding: 0;
    }
    
    
    .prj .overlay {
	    height: 600px !important;
    }
    
    
    .opdracht p,.oplossing p,.colofon p {
	    padding-left: 0 !important;
    }
    
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
