{% extends "cms/base.html" %}
{% block content %}
<div class="list-table">
	<h1>Artikelen</h1>
	<a href="{{ baseURL }}/cms/new/{{ tb }}" class="btn new right">Nieuw artikel</a>
	<hr>
	<table class="lst first">
		<thead>
			<tr>
				<td>Datum</td>
				<td>Artikel</td>
				<td>Type</td>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
			<tr>
				<!-- date -->
				<td><span class="dat">{{ article.dat }}</span></td>

				<!-- title -->
				<td>
					<a href="{{ baseURL }}/cms/{{ tb }}/{{article.id }}/{{ article.utt }}">
						<strong class="pub">
							{% if article.tit != "" %}{{ article.tit|e }}{% else %}...{% endif %}
						</strong>
					</a>
				</td>

				<!-- type -->
				<td>
					<a href="{{ baseURL }}/cms/{{ tb }}/{{article.id }}/{{ article.utt }}">
						<strong class="pub">
							{{ article.typ|e }}
						</strong>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
