{% extends "cms/base.html" %}
{% block content %}
<div class="list-table">
	<h1>Klanten</h1>
	<a href="{{ baseURL }}/cms/new/clt" class="btn new right">Nieuwe klant</a>
	<hr>
	<table class="lst first">
		<thead>
			<tr>
				<td>Datum</td>
				<td>Naam klant</td>
			</tr>
		</thead>
		<tbody>
			{% for cnt_row in fct %}
			<tr>
				<td><span class="dat">{{ cnt_row.dat }}</span></td>
				<td>
					<a href="{{ baseURL }}/cms/clt/{{cnt_row.id }}/{{ cnt_row.utt }}">
						<strong class="pub">
							{% if cnt_row.bdf != "" %}
								{{ cnt_row.bdf|e }} ({{ cnt_row.vnm|e }} {{ cnt_row.nam|e }})
							{% elseif cnt_row.naml == "" %}
								{{ cnt_row.vnm|e }} {{ cnt_row.nam|e }}
							{% else %}
								{{ cnt_row.vnml|e }} {{ cnt_row.naml|e }} ({{ cnt_row.vnm|e }} {{ cnt_row.nam|e }})
							{% endif %}


						</strong>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
