{% extends "cms/base.html" %}

{% block content %}
<div class="list-table">
	<h1>Artikelen</h1>
	<hr>
</div>
<div class="items">

	<h1 class="open"> &nbsp; Nieuws <a href="{{ baseURL }}/cms/new/nws" class="btn new">Nieuw artikel</a></h1>
	<ul class="lst first">
		{% for cnt_row in nws %}
		<li>
			<a href="{{ baseURL }}/cms/cnt/{{cnt_row.id }}/{{ cnt_row.utt }}">
				<span class="dat">{{ cnt_row.dat }}</span>


				{% if cnt_row.pub == "1" %}
				<strong class="pub">{{ cnt_row.tit|e }}</strong>
				{% endif %}
				{% if cnt_row.pub == "0" %}
				<strong class="con">{{ cnt_row.tit|e }} (concept)</strong>
				{% endif %}
				{% if cnt_row.pub == "" %}
				<strong class="con">{{ cnt_row.tit|e }} (concept)</strong>
				{% endif %}

			</a>
		</li>
		{% endfor %}
	</ul>


	<h1 class="closed"> &nbsp;  Pagina's <a href="{{ baseURL }}/cms/new/pag" class="btn new">Nieuwe pagina</a></h1>
	<ul class="lst">
		{% for cnt_row in pag %}
		<li>
			<a href="{{ baseURL }}/cms/cnt/{{cnt_row.id }}/{{ cnt_row.utt }}">
				<span class="dat">{{ cnt_row.dat }}</span>

				{% if cnt_row.pub == "1" %}
				<strong class="pub">{{ cnt_row.tit|e }}</strong>
				{% endif %}
				{% if cnt_row.pub == "0" %}
				<strong class="con">{{ cnt_row.tit|e }} (concept)</strong>
				{% endif %}
				{% if cnt_row.pub == "" %}
				<strong class="con">{{ cnt_row.tit|e }} (concept)</strong>
				{% endif %}


			</a>
		</li>
		{% endfor %}
	</ul>



</div>

{% endblock %}



