{% extends "cms/base.html" %}

{% block content %}

<div class="g6 installer" >

  <h1>Installer</h1>

  <form action="/cms/installer-process-db" method="post" id="installerform">
    <div id="installer">

      <h1>Your details</h1>
      <div>
        <p>Enter your database details</p>
        <input type="text" name="db-hostname" placeholder="Hostname">
        <input type="text" name="db-user" placeholder="User">
        <input type="password" name="db-password" placeholder="password">
        <input type="text" name="db-database" placeholder="Database name">
      </div>

      <h1>Administrator</h1>
      <div>
        <p>Enter administrator details</p>
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
      </div>

      <h1>Info</h1>

      <div>
        <p>Enter website info</p>
        <input type="text" name="title" placeholder="Website name">
        <input type="text" name="desc" placeholder="Description">
        <input type="text" name="baseurl" placeholder="Base URL (http://example.com)">
      </div>

    </div>

  </form>


</div>
{% endblock %}
