{% extends "cms/base.html" %}
{% block content %}
<div class="item">

	<form enctype="multipart/form-data" action="{{ baseURL }}/cms/save" method="post" name="main">
		<div class="fields">
			<!-- id (hidden) -->
			<input type="text" name="id" class="id hidden" value="{{ article.id }}">

			<!-- tb (hidden) -->
			<input type="text" name="tb" class="tb hidden" value="{{ tb }}">
			<h1>Artikel</h1>

			<hr>

			<!-- title -->
			<input type="text" name="tit" class="tit" autofocus="autofocus" value="{{ article.tit }}" placeholder="Title">

			<!-- url title (hidden) -->
			<input type="text" name="utt" class="utt hidden" value="{{ article.utt }}" placeholder="URL title">

			<!-- textarea toolbar -->
			<div id="toolbar" class="toolbar" style="display: none;">
				<ul class="dropdown">
					<li><span class="clickable"><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><span>Paragraaf</span> <i class="fa fa-caret-down"></i></a></span>
						<ul class="" style="border-top:none">
							<li style="border-top:none"><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">Paragraaf</a></li>
							<li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">Kop 1</a></li>
							<li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">Kop 2</a></li>
							<li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">Kop 3</a></li>
						</ul>
					</li>
				</ul>

				<a data-wysihtml5-command="bold" title="CTRL+B"><i class="fa fa-bold"></i></a>
				<a data-wysihtml5-command="italic" title="CTRL+I"><i class="fa fa-italic"></i></a>
				<a data-wysihtml5-command="createLink"><i class="fa fa-link"></i></a>
				<div data-wysihtml5-dialog="createLink" style="display: none;">
					<label>
						Link:
						<input data-wysihtml5-dialog-field="href" value="http://">
					</label>
					<a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
				</div>
				<a data-wysihtml5-command="quote"><i class="fa fa-quote-left"></i></a>
				<a data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></a>
				<a data-wysihtml5-command="insertOrderedList" class="last"><i class="fa fa-list-ol"></i></a>
			</div>

			<!-- textarea -->
			<textarea id="textarea" class="textarea" onkeyup="textAreaAdjust(this)" placeholder="Enter text ..." name="txt" style="height:300px !important">{{ article.txt }}</textarea>

			<!-- sticky bottom -->
			<div id="sticky">
				<div class="g3">
					<input type="submit" name="submit" value="Opslaan" class="subm">
					{% if article.id !="" %}
					<a href="{{ baseURL }}/cms/{{ tb }}/{{ article.id }}/delete" class="del">of verwijder</a>
					{% endif %}
				</div>
				<div class="g3 last">

					{% if article.id !="" %}
					<div class="pub">
						<a href="{{ baseURL }}/cms/{{ path.2 }}/{{ article.id }}/{{ article.utt }}/concept" class="con {% if article.pub == '0' %} sel {% endif %}">Concept</a>
						<a href="{{ baseURL }}/cms/{{ path.2 }}/{{ article.id }}/{{ article.utt }}/public" class="pub {% if article.pub == '1' %} sel {% endif %} last">Public</a>
					</div>

					{% endif %}
					<input type="text" name="dat" value="{{ article.dat|date("m-d-Y") }}" placeholder="Date">
					{% if ( tb == 'articles' ) %}
					<a href="{{ baseURL }}/artikel/{{ article.id }}/{{ article.utt }}" style="float:right" target="_blank">Toon artikel</a>
					{% endif %}
				</div>
			</div>
		</form>


		<!-- Images / files -->

		<pre>
			<div id="info">Waiting for update</div>
		</pre>
		<form action="process-sortable.php" method="post" name="sortables">
			<input type="hidden" name="test-log" id="test-log" />
		</form>
		<div class="box">
			<h2>Afbeeldingen en bestanden</h2>
			<form id="upload" method="post" action="{{ baseURL }}/cms/upload" enctype="multipart/form-data">
				<input type="text" name="pid" class="pid hidden" value="{{ article.id }}">
				<input type="text" name="tb" class="tb hidden" value="{{ tb }}">
				<table>
					<thead>
						<tr>
							<td class="g1">Volgorde</td>
							<td class="g2">Afbeelding</td>
							<td class="g2">Bestandsnaam</td>
							<td class="g1 last">&nbsp;</td>
						</tr>
					</thead>
					<tbody  class="images">
						<!-- The file uploads will be shown here -->
					</tbody>
				</table>
				<div id="drop" class="drop">
					<a>+ Selecteer bestand(en)</a>
					<input type="file" name="upl" multiple />
				</div>
			</form>
		</div>
	</div>

	<!-- push (for sticky footer) -->
	<div class="push">&nbsp;</div>

</div>
{% endblock %}
