{% extends "cms/base.html" %}

{% block content %}

{% if notf %}
<div class="g6">
	<div class="notification">
	<p>{{ notf }}</p>
	</div>
</div>
{% endif %}

<div class="item" id="settings">
	<h1>Profiel</h1>
	<form enctype="multipart/form-data" action="{{ baseURL }}/cms/profile/save" method="post" name="main">
		<hr>
		<input type="text" name="tb" value="settings" autofocus="autofocus" class="hidden">

		<!-- Username -->
		<div class="g1" style="clear:left">
			<h2><label for="tit">Gebruikersnaam</label></h2>
		</div>
		{{ user.0.nam }}
		<div class="g2">
			<input type="text" name="username" value="{{ user.nam }}" placeholder="">
		</div>
		<hr>

		<!-- Set new password -->
		<div class="g1" style="clear:left">
			<h2><label for="tit">Wijzig wachtwoord</label></h2>
		</div>
		<div class="g2">
			<input type="password" name="password" value="{{ user.psw }}" placeholder="">
		</div>
		<hr>

		<!-- sticky bottom -->
		<div id="sticky">
			<div class="g6 last">
				<input type="submit" name="submit" value="Opslaan" class="subm">
			</div>
		</div>

	</form>
</div>
<div class="push">&nbsp;</div>

{% endblock %}

